<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h1>Jose Ignacio Rodriguez</h1>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h1>Geronimo Actis</h1>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h1>Facundo Storani</h1>
                </article>
            </div>
        </div>
    </div>
</footer>