<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('head.ejs') %>

<body>

	<header class="main-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-5 col-md-2">
					<a href="http://localhost:3000" class="main-header_home-link">
						<img class="logo" src="/images/WatchHouse.png">
					</a>
				</div>
	
				<div class="col-7 col-md-6">
					<form action="http://localhost:3000/stock/search/" method="GET" class="search-form">
						<input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
						<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
					</form>
				</div>
	
				<div class="col-12 col-md-4">
					<a class="main-header_credit-link">
						<i class="fas fa-hand-holding-usd"></i>
						Don´t waste your time here is all you need
					</a>
				</div>
			</div>
	
			<button class="btn-toggle-navbar">
				<i class="fas fa-bars"></i>
			</button>
	
			<nav class="main-navbar">
				<ul class="left-navbar">
					<li><a href="http://localhost:3000">Todos los productos</a></li>
					<li><a href="http://localhost:3000/stock/add">Cargar productos</a></li>
				</ul>
				<b><h1>HOLA <%=locals.user.usuario.toUpperCase()%>, ¡BIENVENIDO!</h1></b><br>
				<ul class="right-navbar">
					<li> 
						<a href="http://localhost:3000/users/profile">
							Mi perfil <i class="fas fa-user"></i>
						</a>
					</li>
					<li>
						<form action="/users/logout" method="post">
							<button class="logout" type="submit">
								Cerrar sesión <i class="fas fa-sign-in-alt"></i>
							</button>
						</form>
					</li>

				</ul>
			</nav>
		</div>
	</header>


</body>	
</html>