<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="http://localhost:3000/users/profile" method="get">
					<label for="fotoProducto">Foto del Producto:</label><br>
  					<input class="formCompletar" type="file" id="fotoProducto" name="fotoProducto" required><br><br>

					<label for="producto">Nombre del Producto:</label><br>
					<input class="formCompletar" type="text" id="usuario" name="usuario" required><br><br>

					<label for="descripcion">Descripción:</label><br>
					<input class="formCompletar" type="text" id="descripcion" name="descripcion" required><br><br>

					<input class="botonForm" type="submit" value="Agregar producto">
				</form>
			</h2>
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>